
body {
  background-color: #F8F7F7;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a, a:hover, a:focus { outline: none; }

.MuiTab-textColorInherit.Mui-selected
{
  color: #0038FF!important;

}
.MuiTab-textColorInherit
{
  color: #464855!important;

}