body{
  background-color: #F8F7F7;
  font-family: Montserrat !important;
}

a, a:hover, a:focus { outline: none; }

.MuiTab-textColorInherit.Mui-selected
{
  color: #0038FF!important;

}
.MuiTab-textColorInherit
{
  color: #464855!important;

}